<div class="wf-header">
  <div class="container">
    <div class="wf-logo"></div>

    <nav class="wf-menu">
      <div class="row">
        <div class="col-sm">
          <a class="wf-menu__item" href="#"></a>
        </div>
        <div class="col-sm">
          <a class="wf-menu__item" href="#"></a>
        </div>
        <div class="col-sm">
          <a class="wf-menu__item" href="#"></a>
        </div>
        <div class="col-sm">
          <a class="wf-menu__item" href="#"></a>
        </div>
      </div>
    </nav>
  </div>
</div>

<app-form-mc></app-form-mc>

<div class="wf-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>
    </div>
  </div>
</div>
